
@font-face {
    font-family: 'NorseBold';
    src: url('./files/Norse-Bold.otf') format('opentype');

}

.odinLogoText {
    font-family: 'NorseBold', sans-serif;
    color: white;
}

.decorativeElements {
    position: relative;  /* Allows children to be positioned absolutely */
    width: auto;        /* Full viewport width */
    height: 100vh;       /* Full viewport height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        /* Full width of container */
    height: 100%;       /* Full height of container */
    object-fit: cover;   /* Ensures the image covers the container without distortion */
    z-index: 1;      
}

.odinImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Centers the image */
    z-index: 2;         /* Places it above the background */
}
